# Ignore the dataset
data/train/
data/valid/
data/test/

# Ignore any saved checkpoints
homework/vlm_sft/
homework/clip/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore editor crap
.vscode/
.idea/
.DS_Store

# Ignore environment files
.venv/
env/
